body {
  background-color: #E8EBE4 ;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  color: #29335C;
  font-family: 'Cabin', sans-serif;
}

h1 {
  line-height: 0px;
}

h2 {
  font-size: 18px;
  font-weight: lighter;
  line-height: 20px;
}

p {
  font-size: 15px;
}

a {
  color: black;
  text-decoration: none;
  font-size: lighter;
}

a:hover {
  color: #DC965A;
  font-size: 105%;
}

span {
  font-weight: lighter;
  font-size: smaller;
}

ul {
  list-style-type: none;
  line-height: 25px;
  margin: 10px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.avatar {
  border: 2px dotted orange;
}

.sidebar {
  font-size: 30px;
  background: #DC965A;
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar li {
  margin: 50px 50px 200px 100px;
}

.sidebar .fas {
  color: white;
}

.sidebar .fas:hover {
  color: white;
}

.sidebar .fas:active {
  color: white;
  font-size: 95%;
}

/*.sidetext {
  margin: 5px;
  font-size: 10px;
  color: #DC965A;
}*/


.shadow {
  box-shadow: 0px 1px 2px 0px #c4bebe;
}


.card {
  background-color: #F7F7F2;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

/*.card:hover {
  box-shadow: 0px 2px 4px 0px grey;
}*/

.text-center {
  text-align: center;
}

.img-margin {
margin: 20px;
}

.img-circle {
  border-radius: 50%;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}

.btn {
  background-color: #4D7C8A;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 10px;
}

.btn:hover {
  color: white;
  font-size: 11px;
  box-shadow: 0px 2px 4px 0px grey;
}

.fas:hover {
  font-size: 105%;
  color: #DC965A;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}





/*img:hover {
  box-shadow: 0px 2px 4px 0px grey;
}*/


/*#499F68  #F3A712*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Cabin', sans-serif;*/

/*<iframe src="https://giphy.com/embed/TeeJEaWQtb9mg" width="480" height="411" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/space-pizza-TeeJEaWQtb9mg">via GIPHY</a></p>
*/
